{
    "log": {
        "_recordingName": "Sign In",
        "browser": {
            "name": "Chrome",
            "version": "67.0"
        },
        "creator": {
            "name": "Polly.JS",
            "version": "0.5.0",
            "comment": "persister:rest"
        },
        "entries": [
            {
                "_id": "06f06e6d125cbb80896c41786f9a696a",
                "request": {
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/json; charset=utf-8"
                        }
                    ],
                    "method": "POST",
                    "postData": {
                        "mimeType": "application/json; charset=utf-8",
                        "text": "{\"email\":\"polly@netflix.com\",\"password\":\"@pollyjs\"}"
                    },
                    "queryString": [],
                    "url": "https://netflix.com/api/v1/login"
                },
                "response": {
                    "content": {
                        "mimeType": "text/plain; charset=utf-8",
                        "size": 0
                    },
                    "headers": [],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 11,
            }
        ],
        "pages": [],
        "version": "1.2"
    }
}